<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple work scheduler for my needs">
    <meta name="author" content="Erik Vaněk, erikvanek0@gmail.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1041203883981-lpd1rohsv5uh3pipca2k7v8jd9omcrug.apps.googleusercontent.com">
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="stylesheet" href="/css/schedule.css" type="text/css">
    <link rel="stylesheet" href="/css/report.css" type="text/css">
    <title>Work Scheduler</title>
</head>