@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');



/*Print - remove url and name*/
@page {
    size: auto;   /* auto is the initial value */
    margin: 0;
}

@media print {
    header, .calendar-selection, .calendar, #login-submit {
        visibility: hidden;
    }

    html, body {
        height:100%;
        overflow: hidden;
    }

    #report {
        visibility: visible;
        display: block;
    }
}



/* Global vars */
:root {
    /*--current-global-font: "Roboto Slab", serif;*/
    --current-global-font: "Outfit", sans-serif;
    --background: #0f172a;
    --text: #e6eaf6;
    --button: #6c49c4;
}



/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--current-global-font);
    color: white;
    background-color: var(--background);
}

main {
    height: 100vh;
}




/* HEADER */
header {
    width: 100vw;
    padding: 2rem;
}

header h1, header h4 {
    text-align: center;
}

header h4 {
    font-weight: 400;
}





a {
    color: white;
    text-decoration: none;
}

/* INPUT AUTOFILL - NOT YELLOW */
input:-webkit-autofill, input:-webkit-autofill:focus {
    box-shadow: 0 0 0 1000px var(--background) inset;
    -webkit-text-fill-color: white !important
}

