<!DOCTYPE html>
<html lang="cs">
<%# Import <head></head> %>
<%- include('../partials/head'); %>
<body>
<header class="title-container">
    <h1><a href="">Work Scheduler</a></h1>
</header>
<main>
    <div class="calendar-selection">
        <input type="number" id="year" maxlength="4" min="2023" max="2030" value="2023" onchange="generateCalendar()">
        <select id="month" onchange="generateCalendar()">
            <option value="1" selected>January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
    </div>

    <div class="calendar">
        <table>
            <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
            </tr>
            </thead>
            <tbody id="calendar-body">
            </tbody>
        </table>
        <button id="export" type="submit" formmethod="get" formaction="/export">Export</button>

        <div id="event-container" style="display: none;">
            <form action="">
                <div id="event-basics">
                    <p id="event-date-p" name="event-date-p"></p>
                    <input type="text" id="event-date" name="date" hidden>
                    <button onclick="closeEvent()" id="event-close">X</button>
                </div>
                <div id="event-time">
                    <input type="time" id="event-time-from" class="event-time-input" name="from" min="09:00" max="20:00" required>
                    <p>_</p>
                    <input type="time" id="event-time-to" class="event-time-input" name="to" min="09:00" max="20:00" required>
                </div>
                <div id="event-controls">
                    <button type="submit" id="event-add" class="event-button" formmethod="post" formaction="schedule/event">Add</button>
                    <button type="submit" id="event-delete" class="event-button" formmethod="delete" formaction="schedule/event">Delete</button>
                    <button type="submit" id="event-update" class="event-button" formmethod="put" formaction="schedule/event">Update</button>
                </div>
            </form>
        </div>
    </div>

    <button onclick="toggleEvents()" id="login-submit" style="color: gray; font-size: 10px">Toggle debug</button>
    <div id="events-debug" style="display: none;">
        <%# Display events %>
        <% if (typeof data !== 'undefined') {
        for (var i = 0; i < data.length; i++) {
            var event = data[i]; %>
        <div style="display: flex; justify-content: space-between; width: 10rem;">
            <p><%= event.start.date %></p>
            <p><%= event.summary %></p>
        </div>
        <% }
        } %>
    </div>
</main>

<script>
    // Load events from server to access it via JS
    const events = JSON.parse('<%- JSON.stringify(data).replace(/&quot;/g, '\\"') %>');


    // Open close debug events
    const debug = document.getElementById('events-debug');
    let visible = false
    function toggleEvents() {
        if (visible) {
            debug.style.display = 'none';
            visible = false;
        } else {
            debug.style.display = 'block';
            visible = true;
        }
    }
</script>
<script src="js/schedule-script.js"></script>
</body>
</html>